@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F2E9E4;
    --secondary-color: #6C757D;
    --oddpage-color: #F1F1F1;

    --transition: all 400ms ease;
}
body{
    font-family: 'Prompt', sans-serif;
}