@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F2E9E4;
    --secondary-color: #6C757D;
    --oddpage-color: #F1F1F1;
    --evenpage-color: #f9f9f9;

    --transition: all 400ms ease;
}
body{
    font-family: 'Prompt', sans-serif;
}
.mb{
    display: none;
}
@media screen and (max-width: 850px) {
    body{
        background-color: var(--primary-color);
    }
    body .mb{
        display: block; 
        text-align: center;
        margin-top: 50%;
        color: var(--secondary-color);
    }
    .navbar{
        display: none !important;
    }
    .hero_section{
        display: none !important;
    }
    .about_section{
        display: none !important;
    }
    .project_section{
        display: none !important;
    }
    .service_section{
        display: none !important;
    }
    .contact_page{
        display: none !important;
    }
    
}